<!DOCTYPE html>
<html>
<head>
    <!-- Google Analytics -->
    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-113353848-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KM | @ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrapcss", "~/bundles/fonts", "~/bundles/generalcss")
    @RenderSection("Styles", false)
</head>
<body>
    @Html.Partial("Navbar")
    <div class="container body-content">
        <div class="body-container">
            @RenderBody()
        </div>
        <div class="error-page-container">
            <div class="error-image-container center">
                <a href="/">
                    <img class="img-fluid image-shadow-box" src="~/Content/Images/oops.jpg" />
                </a>
            </div>
            <div class="center">
                <a class="btn btn-dark error-button error-anim" href="#">Back</a>
            </div>
        </div>
    </div>
    @Html.Partial("Icons")
    @Html.Partial("Footer")
    @Scripts.Render("~/bundles/modernizr", "~/bundles/jquery", "~/bundles/jqueryval", 
        "~/bundles/jqueryvalunob", "~/bundles/bootstrapjs")
    @RenderSection("Scripts", false)
</body>
</html>
