<!DOCTYPE html>
<html>
<head>

    <!-- Google Analytics -->
    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-113353848-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KM | @ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrapcss", "~/bundles/fonts", "~/bundles/css")
</head>
<body>
    @Html.Partial("Navbar")
    <div class="container body-content">
        <div class="body-container">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("Icons")
    @Html.Partial("Footer")
    @Scripts.Render("~/bundles/modernizr", "~/bundles/bootstrapjs", 
    "~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/jqueryvalunob", "~/bundles/customscripts")
</body>
</html>
