<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113353848-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113353848-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KM | @ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrapcss", "~/bundles/fonts", "~/Content/css")
</head>
<body>
    @Html.Partial("Navbar")
    <div class="container body-content">
        <div class="body-container">
            @RenderBody()
            @Html.Partial("Modal")
        </div>
    </div>
    @Html.Partial("Icons")
    @Html.Partial("Footer")
    @Scripts.Render("~/bundles/bootstrapjs", "~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/modernizr", "~/bundles/bootstrap")
</body>
</html>
