<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KM | @ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrapcss", "~/bundles/fonts", "~/Content/css")
</head>
<body>
    @*@Html.Partial("Navbar")*@
    <div class="container body-content">
        <div class="body-container">
            @RenderBody()
            @*@Html.Partial("Modal")*@
        </div>
    </div>
    @*@Html.Partial("Icons")*@
    @Html.Partial("Footer")
    @Scripts.Render("~/bundles/bootstrapjs", "~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/modernizr", "~/bundles/bootstrap")
</body>
</html>
